*{
    margin: 0px;
    padding: 0px;
    border: 0px;
  }

:root{
    --primary-color: #457b9d;
	--secondary-color: #A8DaDc;

}
@font-face {
    font-family: 'BNazanin';
    src: url('../fonts/BNazanin.eot?#') format('eot'),  /* IE6–8 */
         url('../fonts/BNazanin.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('../fonts/BNazanin.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
    font-family: 'IranianSans';
    src: url('../fonts/IranianSans.eot?#') format('eot'),  /* IE6–8 */
         url('../fonts/IranianSans.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('../fonts/IranianSans.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
  }

@font-face {
    font-family: 'Yekan';
    src: url('../fonts/Yekan.eot?#') format('eot'),  /* IE6–8 */
         url('../fonts/Yekan.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('../fonts/Yekan.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
  }

body{
    background-color: #F1faee;
    font-family: Yekan,IranianSans,Bnazanin;
    
}
.container{
    width: 700px;
    height: 500px;
    border-radius: 10px;
    background-color: var(--primary-color);
    background: linear-gradient(to right, var(--secondary-color), var(--primary-color));;
    margin: 50px auto;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
    
}
.left_side{
    float: left;
    width: 50%;
    height: inherit;
    background-color: white;
    border-radius: 10px 0px 0 10px ;


}
.sign-in-container {
	left: 0;
	width: 50%;
}
form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
    border-radius: 10px 0px 0 10px ;

}

input {
	background-color: #EDEDEE;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
	border-radius: 10px
}

.p_padding{
    padding-top: 50px;
    padding-bottom: 50px;
}

.btn {
	border-radius: 10px;
	border: 1px solid var(--secondary-color);
	background-color: var(--primary-color);
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	text-transform: uppercase;
	cursor: pointer;
	width: 113%;
	margin: 20px;
}

button:hover{
    transform: scale(1.05);
}

a{
    text-decoration: none;
}
a:hover{
    color: #7dc0c2;
}

.right_side{
    float: left;
    width: 50%;
    height: inherit;
    /* background-color: white; */
    border-radius: 10px 0px 0 10px ;

}


.Sign_in_btn {
	border-radius: 10px;
	border: 1px solid var(--secondary-color);
	background-color: var(--primary-color);
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	text-transform: uppercase;
	cursor: pointer;
	width: 100%;
	margin-top: 34px;
}

.Sign_in_btn:hover{
    transform: scale(1.05);
}

